@font-face {
   font-family: 'Harlow Solid Regular';
   font-display: swap;
   src: url('file:///C:/Users/daniel/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-26_004127/fonts/Harlow%20Solid%20Regular/font.ttf');
}
